<div id="proposal" class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="headline">
                <span>委員提案</span>
            </h4>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-1重新檢視我國技術士證內涵、職能、資歷架構與同等學力標準</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>進行中</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-2 建議以開放近用促使政府委外計畫成果共享</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>部分採納</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-3 大型國土防災－消防資訊化橫向整合系統</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>尚未開始</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-4建議臺灣實行 「無條件基本收入(Unconditional Basic Income, UBI)」區域實驗</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>政策駁回</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-5勞動教育促進法之推動</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-yellow progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 25%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>研議中</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-6技術士證乙、丙級回訓制度之推動</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>進行中</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-7重啟研擬制定《青年發展法》與整合協調相關政策機制</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>進行中</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-8定期製作並發布青諮會階段性成果報告</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>進行中</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>2-9反映一例一休之相關問題</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <span>進行中</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>