--- 
--- 
#track {
    &.track-side {
        li {
            margin-left: 5%;
            width: 100%;
            .timeline-panel {
                width: 95%;
            }
            .timeline-date {
                margin-right: 5%;
            }
            &:nth-child(2) {
                margin-top: 0px;
            }
            p {
                font-weight: 100;
                padding : 0 20px;
            }
        }
        .timeline {
            padding-bottom: 0;
            &:before {
                left: 0;
            }
        }
    }
}
@media (max-width: 767px) {
    #track {
        &.track-side {
            li {
                margin-left: 0%;
            }
        }
    }
}