<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">2-9反映一例一休之相關問題</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>目前進度：</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 45%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                            <span>進行中</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h4>提案內容：</h4>
                            <div class="content">
                                <blockquote>
                                    <h5>106年3月9日行政院青年諮詢委員會第2次會議</h5>
                                    <h5>臨時動議</h5>
                                    <h5>案由：反映一例一休之相關問題</h5>
                                </blockquote>
                                <p>一、吳宗保委員：日前雲林縣召開一場關於一例一休衍生問題之會議，會中所提內容均為基層勞工想法與問題，希望本院及勞動部參採。</p>
                                <p>二、林彥孝委員：針對潛水員之工時議題，配合目前勞動法規確有窒礙難行之情況，希望本院及勞動部再行研酌。</p>
                                <p>三、邱裕翔委員：因農產品之產季及栽培方式隨氣候變遷而有不同，產季往往需要投入大量勞力與工時；若依現行一例一休規定去規範從事農業工作之勞工，會使農業缺工問題更加嚴重，請本院及勞動部協助研議解決。</p>
                                <h5>決議：</h5>
                                <p>有關一例一休相關疑義，請勞動部持續蒐集意見並追蹤妥處。</p>
                                <h6>勞動部於第3次會議報告辦理情形</h6>
                                <p>一、 週休二日新制施行後，本部持續關注各界意見，考量各行業需要調適的時間，採循序漸進，106年第一季為「宣導期」、第二季「輔導期」，第三季起為「檢查期」。</p>
                                <p>二、 為使政策推動更為順利，本部與熟悉產業運作特性之主管部會共同合作，持續瞭解各產業新法施行後關注之議。</p>
                                <p>三、 輔導期並將結合跨部會資源，並與各地方政府攜手，針對個別產業特性與企業需求，透過「臨場輔導」、「集體輔導」及「申請輔導」等方式，積極協助事業單位調整管理制度、遵守法令規定。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {% include proposal-page/proposal-info.html %}
                    {% include proposal-page/track-side.html %}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div> 
</div>

<link rel="stylesheet" href="/css/proposal-page/proposal-info.css">
<link rel="stylesheet" href="/css/proposal-page/track-side.css">