<section id="track" class="track-side">
    <div class="row">
        <h4 class="headline">
            <span>提案相關 Tracks</span>
        </h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h4>行政院青年諮詢委員會第3次會議</h4>
                            <p>有關一例一休相關疑義，請勞動部持續蒐集意見並追蹤妥處。</p>
                        </div>
                        <div class="timeline-footer">
                            <a class="pull-right">
                                <span class="label label-success">防救災</span>
                            </a>
                        </div>
                    </div>
                    <div class="avatars">
                        <a class="">
                            <div class="avatar" style="background:url('/images/avatars/廖泰翔.jpg');">
                            </div>
                        </a>
                        <a class="">
                            <div class="avatar" style="background:url('/images/avatars/吳政哲.jpeg');">
                            </div>
                        </a>
                        <div class="timeline-date">
                            2017/11/11
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h4>行政院青年諮詢委員會第3次會議</h4>
                            <p>有關一例一休相關疑義，請勞動部持續蒐集意見並追蹤妥處。</p>
                        </div>
                        <div class="timeline-footer">
                            <a class="pull-right">
                                <span class="label label-success">防救災</span>
                            </a>
                        </div>
                    </div>
                    <div class="avatars">
                        <a class="">
                            <div class="avatar" style="background:url('/images/avatars/廖泰翔.jpg');">
                            </div>
                        </a>
                        <a class="">
                            <div class="avatar" style="background:url('/images/avatars/吳政哲.jpeg');">
                            </div>
                        </a>
                        <div class="timeline-date">
                            2017/11/11
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h4>行政院青年諮詢委員會第3次會議</h4>
                            <p>有關一例一休相關疑義，請勞動部持續蒐集意見並追蹤妥處。</p>
                        </div>
                        <div class="timeline-footer">
                            <a class="pull-right">
                                <span class="label label-success">防救災</span>
                            </a>
                        </div>
                    </div>
                    <div class="avatars">
                        <a class="">
                            <div class="avatar" style="background:url('/images/avatars/廖泰翔.jpg');">
                            </div>
                        </a>
                        <a class="">
                            <div class="avatar" style="background:url('/images/avatars/吳政哲.jpeg');">
                            </div>
                        </a>
                        <div class="timeline-date">
                            2017/11/11
                        </div>
                    </div>
                </li>
                <li class="clearfix" style="float: none;"></li>
            </ul>
        </div>
    </div>
</section>