---

---

#info{
    img{
        margin-bottom: 20px;
    }
    >.row{
        margin-bottom: 50px;
    }
    h2{
        margin-top: 0px;
    }
    div{
        line-height: 25px;
    }
    svg{
        color:#5e5e5e;
    }
    .position{
        color:#82deb0;
    }
    .contact{
        margin-top:30px;
    }
    .content{
        text-align: justify;
    }
}

