---
---
#proposal{
    margin-bottom: 50px;
    .thumbnail{
        h4{
            line-height: 25px;
            margin: 10px !important;
            text-align: justify;
        }
        .progress-bar-yellow{
            background-color: #E7E879;
        }
    }
}
.modal{
    .modal-header{
        border-bottom: 0
    }
    .modal-footer{
        border-top: 0
    }
    .close{
        span{
            font-size: 40px;
            padding-right: 10px;
        }
    }
}