<div class="modal fade" id="event-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">農夫市集即將開跑</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <img width="100%" src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/12376380_378811262242472_2880597329180621581_n.jpg?_nc_fx=ftpe7-4&oh=b7a79063ec97f3e9e110b561e95e6b15&oe=5AD46C27" alt="">
                            <br>
                            <br>
                            <h4>活動描述：</h4>
                            <p>
                                🍉🍚炎炎夏日～市集活動開跑囉！🌶️ 🌶️
                            </p>
                            <p>
                                豆 花 飯 ？沒聽過吧？在重慶，可是人手一碗的家常美食喔！在這一碗豆花飯裡充滿蛋白質，簡簡單單也可以吃得健康營養！加上一小匙 歐辣麻辣燙、鹽滷豆花特製的麻辣油，麻而不辣的口味，連小朋友也可以開心享用。配上 呵咪呀微笑福利社的稻佳米（秈稻22號）乾爽不黏糯的飯身配上麻辣豆花相得益彰。這天在市集就品嚐的到喔！
                                豆腐，一般家常的食品，想知道傳統板豆腐怎麼製作的嗎？趕快來報名參加！！！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {% include event-page/event-info.html %}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/event-page/event-info.css">