---
---
.recent-tweets {
    .headline {
        text-align: center;
        padding: 50px;
    }
    margin-bottom: 100px;
    .panel {
        text-align: center;
        color: black;
        background-color: rgba(#eee, 0.20);
        border-radius: 0px;
        .panel-body {
            h3 {
                color: #666;
                font-weight: normal;
            }
        }
        &:hover {
            background-color: white;
            h3 {
                color: black;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
<<<<<<< HEAD
}
=======
>>>>>>> 31b1df3338ccece9dfd696d50a0866431bb59694
}