<div class="modal fade" id="meeting-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">第三次青諮大會</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <img width="100%" src="http://advisory.yda.gov.tw/UpFiles/1/Messagess_NPics10/IMG_7304.jpg" alt="">
                            <br><br>
                            <h4>會議描述：</h4>
                            <p>
                                2014 年 318 太陽花學運後，毛治國內閣在前總統馬英九就職六週年演說上，確立行政院將要成立青年顧問團。主要希望邀請 35 歲以下青年參與政府政策制訂，讓年輕人有機會快速參與公共事務，讓行政團隊在政策形成過程可以有效與年輕人對話，發揮諮商與建言功能。
                            </p>
                            <p>
                                青年顧問團成員為 25 人左右，任期一年，為無給職。參加者經過初審、複審與決審三階段審查成立，其中有許多數位經濟、青年創業圈的代表，連任了 2014 年第一屆、2015年第二屆青年顧問團顧問：包含 FlyingV 創辦人林弘全、Livehouse.in
                                創辦人程世嘉、TedxTaipei 創辦人，現任國民黨不分區立委許毓仁、之初創投 Appworks 共同創辦人詹益鑑等人。

                            </p>
                            <p>
                                蔡英文總統上台前，數位經濟、青年新創圈就一直持續詢問新政府是否將延續「青年顧問團」的機制；林全內閣終在本月提出「青年諮詢委員會設置要點」與「委員核定名冊」，將「青年顧問團」機制改為新政府版本的「青年諮詢委員會」（以下簡稱青諮會），並在本月 1
                                日正式核定聘請 30 人擔任青年諮詢委員（以下簡稱青諮委），任期同樣為一年。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {% include meeting-page/meeting-info.html %}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/meeting-page/meeting-info.css">