<div class="recent-tweets">
    <h2 class="headline">
        <span>認識青諮會</span>
    </h2>
    <div class="container">
        <div class="row">
            <div class=" col-sm-4 card">
                <a href="/yda_open">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                青諮會介紹
                            </h3>
                        </div>
                        <div class="panel-footer" style="background-color:#79ffcb"> </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-4 card">
                <a href="/yda_points">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                設置要點
                            </h3>
                        </div>
                        <div class="panel-footer" style="background-color:#beeb54"> </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-4 card">
                <a href="/yda_types">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                委員會名冊
                            </h3>
                        </div>
                        <div class="panel-footer" style="background-color:#f3fa95"> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>