<section class="fields">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="headline">
                <span>我們關心的領域</span>
            </h2>
            <div id="cloudtag">
                <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 900 450" class="bubble">
                    <g transform="translate(480,300)scale(1.0105262994766235,1.0105262994766235)">
                        <text text-anchor="middle" transform="translate(238,-117)" style="font-size: 80px; font-family: Impact; fill: rgb(99, 121, 57);">技職</text>
                        <text text-anchor="middle" transform="translate(40,-95)" style="font-size: 80px; font-family: Impact; fill: rgb(140, 162, 82);">高齡</text>
                        <text text-anchor="middle" transform="translate(104,-2)" style="font-size: 80px; font-family: Impact; fill: rgb(181, 207, 107);">社會企業</text>
                        <text text-anchor="middle" transform="translate(61,-192)" style="font-size: 80px; font-family: Impact; fill: rgb(206, 219, 156);">教育</text>
                        <text text-anchor="middle" transform="translate(179,92)" style="font-size: 80px; font-family: Impact; fill: #79ffcb;">創意育成</text>
                        <text text-anchor="middle" transform="translate(-207,-106)" style="font-size: 80px; font-family: Impact; fill: rgb(189, 158, 57);">綠能源</text>
                        <text text-anchor="middle" transform="translate(-246,-14)" style="font-size: 80px; font-family: Impact; fill: rgb(231, 186, 82);">原住民</text>
                        <text text-anchor="middle" transform="translate(-219,95)rotate(0)" style="font-size: 80px; font-family: Impact; fill: rgb(231, 203, 148);">教育技職</text>
                    </g>
                </svg>
                <!-- <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 600 600" class="bubble">
                    <g class="node" transform="translate(319.25584080478967,298.8915441528219)">
                        <title>創意育成: 50</title>
                        <circle r="107.84646259829906" style="fill: rgb(49, 130, 189);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">創意育成</text>
                    </g>
                    <g class="node" transform="translate(496.8022483988644,298.8915441528219)">
                        <title>原住民: 20</title>
                        <circle r="68.20809188055715" style="fill: rgb(107, 174, 214);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">原住民</text>
                    </g>
                    <g class="node" transform="translate(446.66504623635626,154.08830250062854)">
                        <title>綠能源: 30</title>
                        <circle r="83.53751071811865" style="fill: rgb(158, 202, 225);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">綠能源</text>
                    </g>
                    <g class="node" transform="translate(274.01832173308924,98.12589361247109)">
                        <title>技職: 40</title>
                        <circle r="96.4608086010741" style="fill: rgb(198, 219, 239);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">技職</text>
                    </g>
                    <g class="node" transform="translate(160.4772453121112,219.4429163299721)">
                        <title>高齡: 20</title>
                        <circle r="68.20809188055715" style="fill: rgb(107, 174, 214);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">高齡</text>
                    </g>
                    <g class="node" transform="translate(131.45046832165255,383.04866883708655)">
                        <title>社會企業: 40</title>
                        <circle r="96.4608086010741" style="fill: rgb(198, 219, 239);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">社會企業</text>
                    </g>
                    <g class="node" transform="translate(285.3241594835518,501.87410638752897)">
                        <title>教育: 40</title>
                        <circle r="96.4608086010741" style="fill: rgb(198, 219, 239);"></circle>
                        <text dy=".3em" style="text-anchor: middle;">教育</text>
                    </g>
                </svg> -->
            </div>
        </div>
    </div>
</section>